#btn-carrinho{
  background-color: transparent;
  border: 0;
  margin-bottom: 0px;
  margin-top: 5px;
}

#btn-carrinho .glyphicon{
  font-size: 18px;
}

#nav-header{
  background: #daaf00;
  border: 0;
  margin-bottom: 0;
}

#nav-header .navbar-header{
  background: #ffcd00;
}

.navbar-collapse{
  border-top: 0;
}


.nav > li{
  background-color: #c49d00;
  margin-bottom: 2px;
  padding: 5px 10px;
}

.logo{
  height: 100%;
}

.navbar-brand{
  padding: 6px 10px;
}

#subtotal{
  border-bottom: 1px solid;
}

#footer-carrinho p{
  text-align: right;
}

.fundo-itens{
  height: 100%;
  width: 100%;
  background-color: #f3f3f3;
  position: absolute;
}

.fundo-itens ul{
  padding: 0;
}

.fundo-itens li{
  list-style: none;
  background-color: #fff;
  margin: 20px 5px 15px 5px;
  border-radius: 5px;
  padding: 15px;
}

.media-heading{
  border-bottom: 1px solid;
  border-bottom-color: #e6e6e6;
  padding-bottom: 10px;
}

.media-object{
  max-height: 130px;
}

.media-body button{
  background-color: #22b14c;
  border: none;
  color: white;
  padding: 10px 5px;
  max-width: 200px;
  border-radius: 3px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

.media-left{
  padding-left: 0;
}

.media-left a{
  padding: 0;
  margin: 0;
}

.thumbnail{
  border-color: #000;
  border-radius: 0;
}

i {
    border: solid white;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
}

.right {
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
}

.parcelas-item{
  font-size: 20px;
  color: #22b14c;
  font-weight: bold;
  margin-bottom: auto;
}

.destak-text{
  font-size: 25px;
}

.preco-item{
  font-size: 13px;
}

.destak-text-preco{
  color: #22b14c;
}

.preco-text, .button-carrinho{
  width: 50%;
}

@media screen and (max-width: 706px) {
  .preco-text, .button-carrinho{
    width: 100%;
  }
}
