#btn-carrinho{
  background-color: transparent;
  border: 0;
  margin-bottom: 0px;
  margin-top: 5px;
}

#btn-carrinho .glyphicon{
  font-size: 18px;
}

#nav-header{
  background: #daaf00;
  border: 0;
}

#nav-header .navbar-header{
  background: #ffcd00;
}

.navbar-collapse{
  border-top: 0;
}


.nav > li{
  background-color: #c49d00;
  margin-bottom: 2px;
}

.logo{
  height: 100%;
}

.navbar-brand{
  padding: 6px 10px;
}

#subtotal{
  border-bottom: 1px solid;
}

#footer-carrinho p{
  text-align: right;
}
